nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width:90%;
    margin: 0 auto;
    
    height:100px;

    .sign-in{
        button{
        border-width:1px;
        padding:5px;
        font-size:16px;
        width:100px;
        text-decoration:none;
        border-radius: 15px;
        border-color:black;
        background-color: white;

        &.black{
            border-color:white;
            color:white;
            background-color: black;
           }
        }

       
    }

    .links{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap:25px;
    }


    a{
        text-decoration: none;
        color:black;

        &:hover{
            color:#006241;
        }

        img{
            height:50px;
            width:auto;
        }
    }
}