nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    width:25%;
    
    height:100px;

    a{
        text-decoration: none;
        color:black;

        img{
            height:50px;
            width:auto;
        }
    }
}